body {
  background-color: rgb(197, 154, 165);
  font-family: "Roboto", sans-serif;
}

.table {
  width: 500px;
  height: 500px;
  background-image: url("/resources/table-background.jpg");
  margin: 0 auto;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  position: relative;
}

.sideLeft {
  width: 409px;
  height: 40px;
  background-image: url(/resources/table-background.jpg);
  transform: rotateX(120deg) rotateY(30deg) rotateZ(0deg);
  position: relative;
  top: -571px;
  left: calc(215px + ((100% - 1193px) / 2));
}

.sideRight {
  width: 499px;
  height: 24px;
  background-image: url(/resources/table-background.jpg);
  transform: rotateX(30deg) rotateY(135deg) rotateZ(0deg);
  position: relative;
  left: calc(524px + ((100% - 1193px) / 2));
  top: -1403px;
}

.tableLeg {
  width: 24px;
  height: 200px;
  position: relative;
  background-image: url("/resources/table-background.jpg");
}

.legLeft1 {
  transform: rotateX(-30deg) rotateY(136deg) rotateZ(0deg);
  left: calc(239px + ((100% - 1193px) / 2));
  top: -238px;
}

.legLeft2 {
  transform: rotateX(30deg) rotateY(135deg) rotateZ(0deg);
  left: calc(256px + ((100% - 1193px) / 2));
  top: -437px;
  z-index: 0;
}

.legMiddle1 {
  transform: rotateX(30deg) rotateY(135deg) rotateZ(0deg);
  left: calc(593px + ((100% - 1193px) / 2));
  top: -509px;
}

.legMiddle2 {
  transform: rotateX(-30deg) rotateY(135deg) rotateZ(0deg);
  left: calc(576px + ((100% - 1193px) / 2));
  top: -710px;
}

.legRight1 {
  transform: rotateX(30deg) rotateY(135deg) rotateZ(0deg);
  left: calc(929px + ((100% - 1193px) / 2));
  top: -1077px;
}

.legRight2 {
  transform: rotateX(-30deg) rotateY(135deg) rotateZ(0deg);
  left: calc(912px + ((100% - 1193px) / 2));
  top: -1277px;
}

.robotBox img {
  width: 100%;
}

.robotBox {
  width: 20%;
  position: absolute;
  opacity: 0;
  transition: all ease-in-out 1s;
}

.buttonsAndInputs {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  padding: 1rem 0 0 0;
  max-width: 55rem;
  margin: 0 auto;
  flex-direction: column;
}
